.wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 20px 0 20px;
}

.searchWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
    

}

.products {
    display: flex;
    /* margin: 0 auto; */
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    /* max-width: 1060px; */
}

.title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
}