.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 74px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 5px rgba(170, 130, 140, 0.2);
  margin-bottom: 16px;

}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 291px;
}

.nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav > ul > li > button {
  color: rgba(170, 130, 140, 1);
  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.2px;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  height: 100%;
}

.nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav > ul > li {
  margin: 0 2rem;
}

/* Underline styles */
.nav > ul > li > button {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

/* Fade in */
.nav > ul > li > button::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: rgba(170, 130, 140, 1);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
/* Scale from center */
.nav > ul > li > button::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav > ul > li > button:hover::after,
.nav > ul > li > button:focus::after {
  transform: scale(1);
}

.icon {
  color: rgba(170, 130, 140, 1);
  cursor: pointer;
}

.icon::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: rgba(170, 130, 140, 1);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.icon:hover::after,
.icon:focus::after {
  transform: scale(1);
}